env.json
/.idea
.vscode

### Django ###
*.log
*.pot
*.pyc
*~
__pycache__/
local_settings.py

### 가상환경 ###
.env
venv

# 디비
db.sqlite3

.python-version

### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
migrations/
*.py[cod]

secrets.json

# OSX Specific files
.DS_Store

# 로컬에서 사진 올라가는 폴더
media/